.quiz {
  &__item {
    .question {
      margin-top: 0;
      margin-bottom: 25px;
      color: #28AEFD;
    }
    .answers {
      padding-left: 15px;
      &__item:not(:first-child) {
        border-top: 1px solid #EAEAE1;
      }
    }
    input {
      position: absolute;
      visibility: hidden;
      clip: rect(0, 0, 0, 0);
    }
    label {
      cursor: pointer;
      position: relative;
      padding: 0px 35px;
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 40px;
      &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 5px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 5px;
        background: none;
        border: 1px solid black;
      }
    }
    input:checked + label::before {
      background-color: #009999;
    }
  }
}

.results {
  button {
    margin-bottom: 15px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin: 0 0 15px;
    padding: 5px 10px;
    p {
      margin: 3px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

// *****************
// Animations
// *****************
.fade-in-out { 
  transform-origin: 50% 50%;
  transition: all 0.75s ease;
  opacity: 1;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;
    transition-duration: 0s;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.fade-left {
  transform-origin: 0 100%;
  transition: all 0.7s ease;
  opacity: 1;
  &.ng-enter {
    transition-delay: 0.35s;
    opacity: 0;
    transform: translateX(50px);
    &.ng-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.ng-leave {
    position: absolute;
    opacity: 1;
    transform: translateX(0);
    &.ng-leave-active {
      opacity: 0;
      transform: translateX(-50px);
    }
  }
}


body {
  font-family: 'Open Sans';
  font-style: 18px;
}